<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <%= partial 'layouts/meta' %>
    
    <%= stylesheet_link_tag "tailwind" %>
  </head>

  <body class="<%= current_page.data.body_class %>">
    <div class="grid grid-cols-1 gap-2 md:grid-cols-3 items-center py-2 px-4 w-full">
      <div class="md:pl-8 order-3 md:order-1 text-center md:text-left">
        <%= link_to 'MARTHA DE KRANKZINNIGE', 'martha-de-krankzinnige.html', class: 'font-light' %>
      </div>

      <div class="text-center order-1 md:order-2">
        LAURANNE<br/>PAULISSEN
      </div>
      <div class="text-center md:text-right md:pr-8 order-2 md:order-3">
        <%= link_to 'Insta', 'https://www.instagram.com/__lauranne/' %>
        <%= link_to 'Contact', 'contact.html' %>
      </div>
    </div>


    <div class="mx-auto max-w-7xl">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'main', async: true %>
    <script async=true src="https://identity.netlify.com/v1/netlify-identity-widget.js" type="text/javascript"></script>
  </body>
</html>
