---
title: Lauranne Paulissen | Actrice | Theatermaker
---

<div class="mx-auto w-full border-b-[12px] border-[#FFEBF4] md:px-20 lg:px-40 md:mt-12">
  <img src="<%= image_path(data.pages.home.hero.image) %>" alt="Lauranne Paulissen" class="w-full">
</div>


<div class="text-center text-xl md:text-2xl pt-12 font-light">
  VOLGENDE VOORSTELLINGEN
</div>

<div class="px-4 mt-4">
  <div class="table w-full">
    <% data.pages.martha.performances.select { |performance| performance.date && performance.date > Date.today }.sort_by { |performance| performance.date }.each do |performance| %>
      <a class="table-row border-b border-gray-200 hover:bg-gray-100" href="<%= performance.link %>">
        <div class="table-cell py-2 px-4">
          <span class="font-semibold mr-2 block md:inline"><%= performance.date.strftime("%d.%m.%Y") %></span>
          <span>Martha de Krankzinnige - <%= performance.time %> <%= performance.venue %></span>
        </div>
        <div class="table-cell text-right px-4 py-2 align-bottom underline"><% if performance.link.present? %>tickets<% end %></div>
      </a>
    <% end %>
  </div>
</div>




<div class="text-center text-xl md:text-2x mt-24 font-light">
  PROJECTEN
</div>

<div class="mt-4 pb-10 px-4 grid grid-cols-1 gap-12">
  <% 3.times do %>
    <div class="bg-[#FFEBF4] rounded-[20px] px-8 py-8 flex flex-col sm:flex-row gap-4 sm:gap-0">
      <div class="px-4 min-w-56 lg:min-w-64">
        <%= image_tag 'uploads/skull.jpg', resize: '600x600', alt: 'forgotten female playwrights', class: "object-cover" %>
      </div>

      <div class="px-4 pr-8 col-span-4">
        Repertoire theatre is at odds with the current diversity debate. The texts and the portrayal of those pieces on stage, are often not inclusive enough: besides an acute shortage for complex roles for minorities, other identity markers (ability, age, ethnicity, skin color, gender,..) aren’t always considered when working with the dramatic repertoire. However, in the wake of #MeToo and Black Lives Matter a change seems to occur: art schools and the theatre landscape are looking for a thorough reformation of repertoire theatre according to the needs of our current society.
      </div>
    </div>
  <% end %>
</div>

